<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tlač</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('vendor/css/fontawesome-all.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('vendor/css/bootstrap.min.css') }}">

    <style>
        .lastDopravnik {
            border-bottom: 1px solid;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
        }
    </style>
</head>
<body>
<main>
    <div class="container-fluid">
        {% for item in data %}
            <div class="row">
                <div class="col text-center">
                    <h5><strong>{{ item.linka }}</strong><span style="margin-left: .5rem;">{{'[' ~ item.zmena ~ '] - '}}</span>
                    <i class="fa fa-wrench"></i> {{ item.produkcia }}
                    <i class="fa fa-check ml-1"></i> {{ item.stvrthodinky ~ ' - ' ~ item.stvrthodinkyPerc ~ '%' }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h6><strong>Štvrťhodinky</strong></h6>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <img class="img-fluid" src="{{ item.chartImage }}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col text-center">
                    <h6><strong>Dopravníky</strong></h6>
                </div>
            </div>

            {% for dopravnik in item.dopravniky %}
                {% if loop.last and loop.parent.loop.last %}
                    <div class="row lastDopravnik">
                {% elseif loop.last %}
                    <div class="row lastDopravnik" style="page-break-after: always;">
                {% else %}
                    <div class="row mb-5">
                {% endif %}
                    <div class="col">
                        <div class="row" style="margin-bottom: .5rem; font-size: .75rem;">
                            <div class="col">
                                <i class="fa fa-caret-up mr-1" ></i>{{ dopravnik.max }}
                                <i class="fa fa-caret-down mr-1 ml-1"></i>{{ dopravnik.min }}
                            </div>
                            <div class="col">
                                <strong>{{ dopravnik.nazov }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" src="{{ dopravnik.chartImage }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>

<script type="text/javascript" src="{{ asset('vendor/js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/js/bootstrap.min.js') }}"></script>
</body>
</html>
